# =========================
# FRONTEND (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.angular/
frontend/coverage/
*.tsbuildinfo
npm-debug.log*

# =========================
# BACKEND (Django / Python)
# =========================
backend/venv/
backend/db.sqlite3
firebase-admin-key.json
__pycache__/
*.py[cod]
*.pyc
*.so

# =========================
# ENVIRONMENT & SECRETS
# =========================
.env
local_settings.py

# =========================
# SYSTEM & IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/